<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
    <array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ACTIVATION_OPTIONS</string>
			<key>footerText</key>
			<string>ENLARGEMENT_INFO</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.redenticdev.fastlpm</string>
			<key>key</key>
			<string>typeOfGesture</string>
			<key>validValues</key>
			<array>
				<string>taps</string>
				<string>hold</string>
				<string>swipe</string>
				<string>3d</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>TAPS</string>
				<string>HOLD</string>
				<string>SWIPE</string>
				<string>3D_TOUCH</string>
			</array>
			<key>alignment</key>
			<string>4</string>
			<key>PostNotification</key>
			<string>com.redenticdev.fastlpm/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>RCLabeledSliderCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.redenticdev.fastlpm</string>
			<key>key</key>
			<string>areaEnlargement</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>100</integer>
			<key>label</key>
			<string>AREA_ENLARGEMENT</string>
			<key>strings</key>
			<string>ActivationSub</string>
			<key>PostNotification</key>
			<string>com.redenticdev.fastlpm/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TAPS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>RCLabeledSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.redenticdev.fastlpm</string>
			<key>key</key>
			<string>numberOfTaps</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>5</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>4</integer>
			<key>label</key>
			<string>NUMBER_OF_TAPS</string>
			<key>strings</key>
			<string>ActivationSub</string>
			<key>PostNotification</key>
			<string>com.redenticdev.fastlpm/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HOLD</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>RCLabeledSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.redenticdev.fastlpm</string>
			<key>key</key>
			<string>holdDuration</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>5</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>segmentCount</key>
			<integer>1</integer>
			<key>label</key>
			<string>HOLDING_TIME</string>
			<key>strings</key>
			<string>ActivationSub</string>
			<key>PostNotification</key>
			<string>com.redenticdev.fastlpm/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SWIPE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.redenticdev.fastlpm</string>
			<key>key</key>
			<string>swipeDirectionValue</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>LEFT</string>
				<string>RIGHT</string>
				<string>UP</string>
				<string>DOWN</string>
			</array>
			<key>alignment</key>
			<string>4</string>
			<key>PostNotification</key>
			<string>com.redenticdev.fastlpm/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>RESPRING_INFO</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FOOTER_TEXT</string>
			<key>isStaticText</key>
			<true/>
			<key>footerAlignment</key>
			<real>1</real>
		</dict>

    </array>
	<key>title</key>
	<string>ACTIVATION</string>
</dict>
</plist>
