<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>RESPRING_INFO</string>
		</dict>
		<dict>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Redentic</string>
            <key>user</key>
            <string>RedenticDev</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.redenticdev.fastlpm</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>PostNotification</key>
			<string>com.redenticdev.fastlpm/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ACTIVATION_SETTINGS</string>
			<key>footerText</key>
			<string>NEEDS_RESPRING</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>icon</key>
			<string>icons/touch</string>
			<key>label</key>
			<string>ACTIVATION</string>
			<key>detail</key>
			<string>FLMSubPrefsListController</string>
			<key>FLMSub</key>
			<string>ActivationSub</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>VIBRATION_ACTIVATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.redenticdev.fastlpm</string>
			<key>key</key>
			<string>vibrationEnabled</string>
			<key>label</key>
			<string>VIBRATIONS_ENABLED</string>
			<key>PostNotification</key>
			<string>com.redenticdev.fastlpm/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>icon</key>
			<string>icons/vibration</string>
			<key>label</key>
			<string>VIBRATION_SETTINGS</string>
			<key>detail</key>
			<string>FLMSubPrefsListController</string>
			<key>FLMSub</key>
			<string>VibrationSub</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>OTHER_TITLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESET_PREFS</string>
			<key>action</key>
			<string>resetPreferences</string>
			<key>isDestructive</key>
			<true/>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>RESET_CONFIRMATION</string>
				<key>title</key>
				<string>CONFIRM</string>
				<key>okTitle</key>
				<string>CONFIRM</string>
				<key>cancelTitle</key>
				<string>CANCEL</string>
			</dict>
		</dict>

		<!-- Contributors -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CONTRIBUTORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>CONTRIBUTORS</string>
			<key>detail</key>
			<string>FLMSubPrefsListController</string>
			<key>FLMSub</key>
			<string>ContributorsSub</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>CONTRIBUTE_TO_TRANSLATIONS</string>
			<key>subtitle</key>
			<string>GitHub</string>
			<key>url</key>
			<string>https://github.com/RedenticDev/TweaksLocalizations</string>
		</dict>

		<!-- Support Me -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SUPPORT_TITLE</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>BUY_ME_A_COFFEE</string>
			<key>subtitle</key>
			<string>PayPal</string>
			<key>url</key>
			<string>https://paypal.me/redenticdev</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>FEATURE_REQUEST</string>
			<key>subtitle</key>
			<string>MAIL</string>
			<key>url</key>
			<string>mailto:redenticdev@gmail.com?subject=FastLPM%20Feature%20Request</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>FOUND_A_BUG</string>
			<key>subtitle</key>
			<string>GitHub</string>
			<key>url</key>
			<string>https://github.com/RedenticDev/FastLPM/issues/new</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>SOURCE_CODE</string>
			<key>subtitle</key>
			<string>Github</string>
			<key>url</key>
			<string>https://github.com/RedenticDev/FastLPM</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FOOTER_TEXT</string>
			<key>isStaticText</key>
			<true/>
			<key>footerAlignment</key>
			<real>1</real>
		</dict>

	</array>
	<key>title</key>
	<string>FASTLPM</string>
</dict>
</plist>
