<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>RESPRING_INFO</string>
		</dict>
		<dict>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Redentic</string>
            <key>user</key>
            <string>RedenticDev</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.redenticdev.fastlpm</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>PostNotification</key>
			<string>com.redenticdev.fastlpm/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GLOBAL_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.redenticdev.fastlpm</string>
			<key>key</key>
			<string>vibrationEnabled</string>
			<key>label</key>
			<string>VIBRATIONS_ENABLED</string>
			<key>PostNotification</key>
			<string>com.redenticdev.fastlpm/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>VIBRATIONS_7_AND_NEWER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.redenticdev.fastlpm</string>
			<key>key</key>
			<string>newVibrationStrength</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>LIGHT</string>
				<string>MEDIUM</string>
				<string>HEAVY</string>
				<string>SOFT</string>
				<string>RIGID</string>
			</array>
			<key>alignment</key>
			<string>5</string>
			<key>PostNotification</key>
			<string>com.redenticdev.fastlpm/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>VIBRATIONS_6S_AND_LESS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.redenticdev.fastlpm</string>
			<key>key</key>
			<string>oldVibrationStrength</string>
			<key>validValues</key>
			<array>
				<integer>1519</integer>
				<integer>1520</integer>
				<integer>1521</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>LIGHT</string>
				<string>MEDIUM</string>
				<string>STRONG</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>com.redenticdev.fastlpm/ReloadPrefs</string>
		</dict>

		<!-- Contributors -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CONTRIBUTORS</string>
		</dict>
		<!-- <dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>CONTRIBUTORS</string>
			<key>detail</key>
			<string>FLMSubPrefsListController</string>
			<key>FLMSub</key>
			<string>ContributorsSub</string>
		</dict> -->
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>CONTRIBUTE_TO_TRANSLATIONS</string>
			<key>subtitle</key>
			<string>GitHub</string>
			<key>url</key>
			<string>https://github.com/RedenticDev/TweaksLocalizations</string>
		</dict>

		<!-- Support Me -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SUPPORT_TITLE</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>BUY_ME_A_COFFEE</string>
			<key>subtitle</key>
			<string>PayPal</string>
			<key>url</key>
			<string>https://paypal.me/redenticdev</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>FEATURE_REQUEST</string>
			<key>subtitle</key>
			<string>MAIL</string>
			<key>url</key>
			<string>mailto:redenticdev@gmail.com?subject=FastLPM%20Feature%20Request</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>FOUND_A_BUG</string>
			<key>subtitle</key>
			<string>GitHub</string>
			<key>url</key>
			<string>https://github.com/RedenticDev/FastLPM/issues/new</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>SOURCE_CODE</string>
			<key>subtitle</key>
			<string>Github</string>
			<key>url</key>
			<string>https://github.com/RedenticDev/FastLPM</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FOOTER_TEXT</string>
			<key>isStaticText</key>
			<true/>
			<key>footerAlignment</key>
			<real>1</real>
		</dict>

	</array>
	<key>title</key>
	<string>FASTLPM</string>
</dict>
</plist>
